In [1]:
import numpy as np
import pandas as pd

In [2]:
myindex = ['USA','Canada','Mexico']
mydata = [1776,1867,1821]

In [5]:
myseries = pd.Series(myindex,mydata)
myseries
#point: "S" (pd.Seires) is true not "s" (captal)

1776       USA
1867    Canada
1821    Mexico
dtype: object

In [6]:
ages = {'Sammy':5,'Frank':10,'Spike':7}

In [7]:
pd.Series(ages)

Sammy     5
Frank    10
Spike     7
dtype: int64

In [8]:
q1 = {'Japan': 80, 'China': 450, 'India': 200, 'USA': 250}
q2 = {'Brazil': 100,'China': 500, 'India': 210,'USA': 260}

In [9]:
SQ1 = pd.Series(q1)
SQ2 = pd.Series(q2)

In [14]:
SQ1.add(SQ2,fill_value=0)
#note:fill have "_" and then value not fillvalue

Brazil    100.0
China     950.0
India     410.0
Japan      80.0
USA       510.0
dtype: float64

# lesson2